.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

label {
  font-size: 20px;
}
.contact-form-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
}

.contact-form-container label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.contact-form-container input,
.contact-form-container select,
.contact-form-container textarea {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form-container textarea {
  resize: vertical;
}

.contact-form-container button {
  padding: 0.75rem;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 150px;
  margin: 0 auto;
  margin-top: 25px;
}

.contact-form-container button:hover {
  background-color: #ff6f61;
}

.form-status {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
